* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #c3cbd8;
  background-color: #828da0;
}

#container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

#left-nav {
  grid-area: left-nav;
  background: black;
}

#list-name,
#search-area,
#menu-items {
  width: 100%;
  margin: 0;
}

#search-button {
  height: 100%;
  font-size: 1em;
  border: none;
  border-radius: 0;
  margin: 0;
  width: 30%;
  background-image: linear-gradient(to bottom, #54b4f5, #1b74ab);
  color: white;
}

ul {
  list-style: none;
  text-align: left;
  padding: 5px;
  margin: 0;
}

li {
  padding: 10px;
}

li:hover {
  color: red;
}

#menu-items {
  cursor: pointer;
}

div.infoWindow {
  color: black;
  text-align: center;
}

/* For smaller screens, change side nav to top menu */
@media (max-width: 768px) {

  #left-nav {
    height: auto;
  }

  #list-name {
    width: 100%;
    height: 35px;
    padding: 5px;
  }

  p#name {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
  }

  #search-area {
    width: 100%;
    display: flex;
    height: 30px;
  }

  #search-box {
    width: 80%;
    height: 100%;
    border: none;
    padding: 10px;
  }

  #search-button {
    width: 20%;
  }

  #menu-items ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    max-height: 370px;
  }

  #map {
    width: 100%;
    height: 100vh;
  }
}

/* For larger screens */

@media (min-width: 769px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
      "left-nav" "map";
  }

  #left-nav {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /*Forces child elements to accept curved border*/
    overflow: hidden;
  }

  #list-name {
    height: 10%;
  }

  p#name {
    margin: 0;
    padding-left: 1em;
    padding-top: .5em;
    text-align: left;
    font-size: 1.5em;
  }

  #search-area {
    height: 5%;
    background-color: white;
    display: flex;
  }

  #search-box {
    width: 70%;
    padding: 1em;
    font-size: .75em;
  }

  #menu-items {
    height: 85%;
    font-size: 1em;
  }
}
